.accordion-list::before {
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTE0IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTE0IDEyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNiAwLjY2NjY1OEMzLjA1NDQ4IDAuNjY2NjU3IDAuNjY2NjY0IDMuMDU0NDcgMC42NjY2NjQgNS45OTk5OUMwLjY2NjY2NCA4Ljk0NTUxIDMuMDU0NDggMTEuMzMzMyA2IDExLjMzMzNDOC45NDU1MiAxMS4zMzMzIDExLjMzMzMgOC45NDU1MSAxMS4zMzMzIDUuOTk5OTlDMTEuMzMzMyAzLjA1NDQ3IDguOTQ1NTIgMC42NjY2NTggNiAwLjY2NjY1OFpNMTA4IDAuNjY2NjY3QzEwNS4wNTQgMC42NjY2NjYgMTAyLjY2NyAzLjA1NDQ4IDEwMi42NjcgNkMxMDIuNjY3IDguOTQ1NTIgMTA1LjA1NCAxMS4zMzMzIDEwOCAxMS4zMzMzQzExMC45NDYgMTEuMzMzMyAxMTMuMzMzIDguOTQ1NTIgMTEzLjMzMyA2QzExMy4zMzMgMy4wNTQ0OCAxMTAuOTQ2IDAuNjY2NjY3IDEwOCAwLjY2NjY2N1pNNiA2Ljk5OTk5TDEwOCA3TDEwOCA1TDYgNC45OTk5OUw2IDYuOTk5OTlaIiBmaWxsPSIjMzE4MEZGIi8+Cjwvc3ZnPgo=');
  display: block;
  position: absolute;
  top: 40%;
  left: -50px;
  transform: rotate(90deg); 
}