@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-font: "Rammetto One", sans-serif;
  --body-font: "Roboto", sans-serif;
  --background-color: #FFF;

  --grey-color: #D9D9D9;
  --primary-color: #66B2C2;
  --primay-light-color: #9EB5CF;

  --default-darker-color: #344455;
  --default-light-color: #607387;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  color: var(--default-darker-color);
}

h1 {
  font-size: 23px;
}

p, a, span {
  font-family: var(--body-font);
  color: var(--default-light-color);
}

.hightlight {
  color: var(--primary-color);
  font-weight: bold;
}

.font-rammeto {
  font-family: var(--header-font) !important;
}

body {
  font-family: var(--body-font);
}
