.white-price::before {
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTY2IDEyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTU0LjY2NyA2QzE1NC42NjcgOC45NDU1MiAxNTcuMDU0IDExLjMzMzMgMTYwIDExLjMzMzNDMTYyLjk0NiAxMS4zMzMzIDE2NS4zMzMgOC45NDU1MiAxNjUuMzMzIDZDMTY1LjMzMyAzLjA1NDQ4IDE2Mi45NDYgMC42NjY2NjcgMTYwIDAuNjY2NjY3QzE1Ny4wNTQgMC42NjY2NjcgMTU0LjY2NyAzLjA1NDQ4IDE1NC42NjcgNlpNMC42NjY2NjcgNkMwLjY2NjY2NyA4Ljk0NTUyIDMuMDU0NDggMTEuMzMzMyA2IDExLjMzMzNDOC45NDU1MiAxMS4zMzMzIDExLjMzMzMgOC45NDU1MiAxMS4zMzMzIDZDMTEuMzMzMyAzLjA1NDQ4IDguOTQ1NTIgMC42NjY2NjcgNiAwLjY2NjY2N0MzLjA1NDQ4IDAuNjY2NjY3IDAuNjY2NjY3IDMuMDU0NDggMC42NjY2NjcgNlpNMTYwIDVINlY3SDE2MFY1WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+Cg==');
  display: block;
  width: 100px;
  position: absolute;
  top: -10px;
  left: 25%;
}

.default-price::before {
  content: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgMTY2IDEyIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMTU0LjY2NyA2QzE1NC42NjcgOC45NDU1MiAxNTcuMDU0IDExLjMzMzMgMTYwIDExLjMzMzNDMTYyLjk0NiAxMS4zMzMzIDE2NS4zMzMgOC45NDU1MiAxNjUuMzMzIDZDMTY1LjMzMyAzLjA1NDQ4IDE2Mi45NDYgMC42NjY2NjcgMTYwIDAuNjY2NjY3QzE1Ny4wNTQgMC42NjY2NjcgMTU0LjY2NyAzLjA1NDQ4IDE1NC42NjcgNlpNMC42NjY2NjcgNkMwLjY2NjY2NyA4Ljk0NTUyIDMuMDU0NDggMTEuMzMzMyA2IDExLjMzMzNDOC45NDU1MiAxMS4zMzMzIDExLjMzMzMgOC45NDU1MiAxMS4zMzMzIDZDMTEuMzMzMyAzLjA1NDQ4IDguOTQ1NTIgMC42NjY2NjcgNiAwLjY2NjY2N0MzLjA1NDQ4IDAuNjY2NjY3IDAuNjY2NjY3IDMuMDU0NDggMC42NjY2NjcgNlpNMTYwIDVINlY3SDE2MFY1WiIgZmlsbD0iIzlFQjVDRiIvPgo8L3N2Zz4K');
  display: block;
  width: 100px;
  position: absolute;
  top: -10px;
  left: 25%;
}